{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}bla{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}">
        <script>
            var importAnimationUrl = '{% static "css/homeAnimation.css" %}';
        </script>
        <script src="{% static 'js/functions.js' %}"></script>
        {% block stylesheets %}

        {% endblock stylesheets %}
    </head>
    <body>
        <noscript>
            <div>
                You need to enable javascript to use this page. Please enable it for this site in your browser settings.
            </div>
        </noscript>
        <p style="top: 0; margin-top: 0; opacity: 0;">Some random text that will not show up on the page, but is here to keep the body at the top of the page</p>
        <div class="beginningAnimationContainer" id="beginningAnimationContainer" hidden>
            <div class="beginningAnimation">
                <span id="logo_text">Digital Quasar</span>
            </div>
        </div>

        <div class="nav" id="nav">
            <div onclick="location.replace('{% url 'home:main' %}')">
                <a href="{% url 'home:main' %}">Home</a>
            </div>
            <div onclick="location.replace('{% url 'account:signup' %}')">
                <a href="{% url 'account:signup' %}">Create account</a>
            </div>
            <div onclick="location.replace('{% url 'account:login' %}')">
                <a href="{% url 'account:login' %}">Log In</a>
            </div>
        </div>

        {% block sideContent %}

        {% endblock sideContent %}

        <div class="body">
            {% block content %}
                
            {% endblock content %}
        </div>
        <p style="bottom: 0; margin-bottom: 0; opacity: 0;">Some random text that will not show up on the page, but is here to keep the body at the top of the page</p>
    </body>
    <script src="{% static 'js/beginningAnimation.js' %}"></script>
</html>