channels==3.0.3
channels-redis==3.2.0
./packages/django/Django-4.0.3-py3-none-any.whl
django-crispy-forms==1.11.1
djangorestframework==3.12.4
psycopg2-binary==2.9.2
django-summernote==0.8.20.0
django-rosetta==0.9.8
easy-thumbnails==2.8.1
Pillow==9.1.0
pytz==2022.1