{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block extrastyle %}
    <link rel="stylesheet"
          href="{% static 'css/chat-list.css' %}"
          type="text/css">
{% endblock extrastyle %}
{% block content %}
    <div class="chats-detail">
        {% for chat in object_list %}
            <a class="chat" href="{% url 'client:detail' chat.locationUrl %}">
                <span class="description">{{ chat.chatDescription }}</span>
                <br>
                <span class="users">
                    <b>
                        {% if chat.chatCreator == request.user %}
                            {% trans "Me" %}
                        {% else %}
                            {% with chat.chatCreator as creator %}
                                {% if creator.first_name == '' %}
                                    {{ creator.username }}
                                {% else %}
                                    {{ creator.first_name }}
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    </b>
                    {% for user in chat.chatUsers.all %}
                        {% trans "," %}
                        {{ user.username }}
                    {% endfor %}
                </span>
                <br>
                <span class="created">{{ chat.chatDateCreated }}</span>
            </a>
        {% empty %}
            <center><i>You have no chats. <a href="{% url 'new_chat' %}">Create One</a></i></center>
        {% endfor %}
    </div>
{% endblock content %}
{% block extrascripts %}
    <script src="{% static 'js/chat_whitespace.js' %}"></script>
{% endblock extrascripts %}
