{% load i18n %}
<a class="chat" href="{% url 'client:detail' chat.location %}">
    <span class="description">{{ chat.description }}</span>
    <br>
    <span class="users">
        <b>
            {% if chat.creator == request.user %}
                {% trans "Me" %}
            {% else %}
                {% with chat.creator as creator %}
                    {% if creator.first_name == '' %}
                        {{ creator.username }}
                    {% else %}
                        {{ creator.first_name }}
                    {% endif %}
                {% endwith %}
            {% endif %}
        </b>
        {% for user in chat.users.all %}
            {% if user != chat.creator %}
                {% trans "," %}
                {{ user.username }}
            {% endif %}
        {% endfor %}
    </span>
    <br>
    <span class="created">{{ chat.created }}</span>
</a>
