.chat-grid {
  display: grid;
  grid-template-columns: 25% auto;
  height: 85%;
  position: relative;
}

.chats {
  background-color: #000160;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 1.3rem;
	line-height: 13px;
  overflow: auto;
}

.chats > .chat > .title {
  font-weight: bold;
  font-size: 18px;
}


.chats > .chat {
	padding-top: 20px;
	cursor: pointer;
}

.chats > .chat > hr {
	color: white;
	width: 90%;
	align-self: center;
}

.search-input {
  margin-top: 10px;
  border-radius: 10px;
  height: 25px;
  width: 90%;
}

.chat-grid-space {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
