{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en-us" dir="ltr">
    <head>
        <title>Chat</title>
        <meta charset="utf-8">
        <meta name="content-type" content="utf-8">
        <meta name="description" content="A chat site"/>
        <meta name="keywords" content="chat, communication"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
        <link rel="stylesheet"
              href="{% static 'css/nav-bar.css' %}"
              type="text/css">
        <link rel="stylesheet"
              href="{% static 'css/chat-grid.css' %}"
              type="text/css">
        <link rel="stylesheet"
              href="{% static 'css/controls.css' %}"
              type="text/css">
        <script src="{% static 'js/jquery/jquery.js' %}" charset="utf-8" type="text/javascript"></script>
        <script src="{% static 'js/base.js' %}" charset="utf-8" type="text/javascript"></script>
        <script src="{% static 'js/searchSocket.js' %}" charset="utf-8" type="text/javascript"></script>
        {% block extrastyle %}
        {% endblock extrastyle %}
        {% block extra_scripts %}
        {% endblock extra_scripts %}
    </head>
    <body>
        <div id="notifacations-container"></div>
        {% comment %} <div class="top-nav">
      <a href="{% url 'client:home' %}" id="dashboardLink">Home</a>
      <div class="profile">
        <div class="title" onclick="replace(`{% url 'account:settings_view' %}`);">
          <p id="settingsUsername">
            {{ username|truncatechars:15 }}
          </p>
        </div>
      </div>
        </div> {% endcomment %}
        <div class="controlsSpace"></div>
        <div class="controls" id="controls">
            <div class="controls-top">
                <span class="time controls-top-item detail-only" id='time'></span>
                <span class="controls-top-right">
                    <span class="detail-only notifications">
                        <img src="{% static 'images/bell.png' %}"
                             alt="Notification Bell"
                             width="20px"
                             height="20px"
                             class="controls-top-item">
                    </span>
                </span>
            </div>
            <div class="apps">
                <a class="sidelink" href="{% url 'client:home' %}">
                    <img src="{% static 'images/home_icon.png' %}"
                         alt="Home Icon"
                         width="30px"
                         height="30px">
                <span class="sidelink-label">{% trans 'Home' %}</a>
            </a>
        </div>
        {% comment %} <span class="apps-link sidelink">Apps</span> {% endcomment %}
        {% comment %} <span class="new-chat-plus sidelink" onclick="location.replace(`{% url 'new_chat' %}`)">+<span> {% endcomment %}
        {% if messages %}
            {% for message in messages %}
                <div class="django-message {% if message.tags %}django-message-{{ message.tags }}{% endif %}">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
        {% comment %} {% block chat_name %}{% endblock %} {% endcomment %}
    </div>
    <div class="chat-grid-container" id="chat-grid-container">
        <div class="chat-grid">
            <div class="chats chat-grid-object" id="chats">
                <div class="filters">
                    <a href="{% url 'client:allchats' %}">{% trans 'All Chats' %}</a>
                    <a href="{% url 'client:invited' %}">{% trans "Invited" %}</a>
                    <a href="{% url 'client:recent' %}">{% trans "Recent" %}</a>
                    <a href="{% url 'client:pinned' %}">{% trans 'Pinned' %}</a>
                </div>
                <a href="{% url 'new_chat' %}" class="chat-create-btn">{% trans 'New' %}</a>
                {% comment %} <input type="text" name="" value="" class="search-input" placeholder="search by description" id="searchInput" autocomplete='off' onkeyup="searchChat()">
                    <hr>
                    {% if chat_number == 0 %}
                        <p>
                            <i><center>You don't have any chats yet.</center></i>
                        </p>
                    {% endif %}
                    <div id="chat-messages">
                        {% for chat in mychats %}
                            <div class="chat" onclick="replace(`{{ chat.get_absolute_url }}`)">
                                <span class="title"><b>{{ chat.creator }}, </b>{{ chat.users }}</span>
                                <br>
                                <span>{{ chat.description }}</span>
                                <br>
                                <span>{{ chat.created }}</span>
                                <br>
                            </div>
                        {% endfor %}
                        {% for chat in otherchats %}
                            <div class="chat" onclick="replace(`{{ chat.get_absolute_url }}`)">
                                <span class="title"><b>{{ chat.creator }}, </b>{{ chat.users }}</span>
                                <br>
                                <span>{{ chat.description }}</span>
                                <br>
                                <span>{{ chat.created }}</span>
                                <br>
                            </div>
                        {% endfor %}
                </div> {% endcomment %}
            </div>
            <div class="chat-grid-space chat-grid-object">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/functions.js' %}" charset="utf-8" type="text/javascript"></script>
    <script src="{% static 'js/onLoad.js' %}" charset="utf-8" type="text/javascript"></script>
    <script src="{% static 'js/controls.js' %}" charset="utf-8" type="text/javascript"></script>
    {% block extrascripts %}
    {% endblock extrascripts %}
</body>
</html>
