.nav {
    position: fixed;
    border: 2px solid blue;
    width: 250px;
    border-radius: 20px;
    margin-left: 20px;
    border-top: 0px;
    border-bottom: 0px;
    top: 40px;
}

.nav div {
    width: 100%;
    text-align: center;
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: -2px;
    margin-left: -2px;
    cursor: pointer;
}

.nav div:hover {
    animation-name: fadeNavText;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.nav div a {
    color: blue;
    text-decoration: none;
    font-size: 26px;
    border-radius: 20px;
}

@keyframes fadeNavText {
    100% {
        background-color: darkblue;
    }
}

/* @keyframes slideIn {
    100% {
        content: "hello";
        opacity: 0;
    }
} */