.settings {
    height: 100%;
    text-align: center;
}

.settings .auth {
    text-align: left;
    margin-left: 20px;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.auth .field {
    position: absolute;
}

.auth .form label {
    margin-left: 20px;
    margin-right: 20px;
}

.auth form .auth-form-field {
    border-radius: 0;
    border-width: 2px;
    border-color: blue;
    width: 199px;
    font-family: 'Open Sans', serif;
    font-size: 15px;
}

.auth form .auth-form-field:hover {
    border-radius: 0;
    border-width: 3px;
    border-color: blue;
}

.auth form .auth-form-field:focus, .auth-form-field:active {
    border-radius: 0;
    border-color: blue;
    outline: none;
    animation: auth-input-field-animation 0.5s;
    animation-fill-mode: forwards;
}

.submit-user {
    background-color: blue;
    color: white;
    border-radius: 0;
    border-width: 2px;
    border-color: rgb(0, 119, 255);
    padding: 5px 10px;
    margin-left: 15%;
    font-size: 15px;
    position: absolute;
    cursor: pointer;
}

.theme {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
}

.theme-name {
    font-size: 30px;
    font-family: serif;
}

.theme-label {
    cursor: pointer;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    height: 30px;
    width: 80%;
    border-radius: 100px;
    position: relative;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.theme-label-light, .theme-label-dark {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 49.5%;
    font-size: 18px;
    line-height: 30px;
    border-radius: 100px;
}

.theme-slider {
    height: 30px;
    width: 49.5%;
    position: absolute;
    background-color: blue;
    border-radius: 100px;
    z-index: -1;
}



@keyframes auth-input-field-animation {
    to {
        width: 350px;
        border-width: 3.5px;
    }
}