.form-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #030027;
}

.form {
    border: 1px solid blue;
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 7px;
    background-color: black;
    padding: 25px 50px;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
}

.form .close {
    padding: 8px 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 7px;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
}

.form .close:hover {
    animation-name: fadeClose;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}

.form .chat-name {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
@keyframes fadeClose {
    to {
        background-color: red;
        border: none;
    }
}