.form-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #030027;
}

.form {
    border: 1px solid blue;
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 7px;
    background-color: black;
    padding: 25px 50px;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
}

.form .close {
    padding: 8px 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 7px;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
}

.form .close:hover {
    animation-name: fadeClose;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}

.form .chat-name {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.checkbox-wrapper {
    display: inline;
    position: relative;
    margin-left: 10px;
}

.checkbox-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    margin: 0;
}

.checkbox-wrapper .checkbox-checked {
    opacity: 0;
    display: inline;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    align-items: center;
    z-index: 0;
}

.checkbox-wrapper input:checked ~ .checkbox-checked {
    transition: opacity 250ms;
    opacity: 1;
}

.checkbox-wrapper .checkmark:after {
    position: absolute;
    display: none;
}

.checkbox-wrapper .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: darkblue;
    z-index: 0;
}

@keyframes fadeClose {
    to {
        background-color: red;
        border: none;
    }
}

@font-face {
    font-family: "Ubuntu";
    src: url(/static/fonts/ubuntu/Ubuntu-Regular.ttf);
}
