.form-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #030027;
}

.form {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 7px;
    background-color: black;
}

.form .close {
    padding: 8px 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 7px;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
}

.form .close:hover {
    animation-name: fadeClose;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}

@keyframes fadeClose {
    to {
        background-color: red;
        border: none;
    }
}