.chat-grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 25% auto;
    height: 95%;
    position: relative;
}

.chats {
    /* background-color: #000160; */
    background-color: black;
    height: 100%;
    color: blue;
    text-align: center;
    font-size: 1.3rem;
    line-height: 13px;
    overflow: auto;
    border-right: 1px solid blue;
    border-top: 1px solid blue;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* border-width: 2px; */
}

.chats hr {
    border-color: blue;
}

.chat>.title {
    font-weight: bold;
    font-size: 18px;
}


.chat {
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    color: blue;
    border: 1px solid blue;
    margin: 20px 10px 0 10px;
    border-radius: 20px;
    opacity: 1;
    line-height: 1.5;
}

/* .chat > hr {
	color: white;
	width: 90%;
	align-self: center;
} */

.search-input {
    margin-top: 10px;
    border-radius: 10px;
    height: 25px;
    width: 90%;
    text-align: center;
}

hr {
    background-color: blue;
    color: blue;
    border: none;
    height: 1px;
}

.chat-grid-space {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}