.chats-detail {
    padding-top: 20px;
    height: 95%;
    overflow: auto;
}

.chat {
    position: relative;
    text-decoration: none;
    display: block;
    margin: 0 20px;
    margin-bottom: 20px;
    border: 1px solid blue;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.chat span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.chat .update {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 150px;
    height: 100%;
    border-left: 1px solid blue;
    cursor: default;
}

.chat .update .quick-actions {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.chat .update .quick-action {
    background-color: rgba(0, 0, 255, 0.150);
    float: left;
    border: none;
    outline: none;
    border-radius: 100%;
    padding: 10px 8px;
    cursor: pointer;
    font-size: 17px;
    height: 20px;
    cursor: pointer;
}

.chat .update .quick-action:hover {
    background-color: rgba(0, 0, 255, 0.267);
}